doctype html
html
  head
    title = 'Stock Market App'
  body
    .container
      h1 Welcome to My Stock Market App!
      form(method='POST')
        .form-group
          label Search Stock
            input(type='text', name='stockinput', placeholder='Search 4 A Stock') 
        .form-group
          input(type='submit' value='Lookup!')

